a{
	text-decoration:none;
}

body{
	font: 32px bold;
	color: white;
	margin: 0px;
}
.top a{
	color: white;
	font-size: 30px;
}
.top {
	text-align: center;
	height: 86px;
	background-color: #68cdd5;
	
}
.top1{
	float: left;
	width: 20%;
	margin: 27px auto;
	/*background: black;*/
}
.top2{
	font-size: 34px;
	float: left;
	width: 60%;
	margin: 27px auto;
	/*background: deepskyblue;*/
}
.top3{
	float: left;
	width: 20%;
	margin: 27px auto;
	/*background:yellowgreen;*/
}
.register{
	background: #eff0f4;
}

.register .text{
	margin:10px;
	font-size: 32px;
	height: 99px;
	width: 100%;
	padding-left: 150px;
	border: none;
	background: url(登陆_03.png) no-repeat;
	background-color: white;
}
#psd{
	background: url(登陆_04.png) no-repeat;
	background-color: white;
}
.register .button{
	background-color:#68CDD5;
	height: 101px;
	width: 100%;
	font: 32px bold;
	color:white;
}
.bottom2 a{
	float: right;
	margin-right: 30%;
	color: #68CDD5;
	font: 32px bold;
	border: none;
}
